// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/


body.barcode-scanning-active{
   visibility: hidden;
   --background: transparent;
   --ion-background-color: transparent;
}

.barcode-scanning-modal{
    visibility: visible ;
}

@media (prefers-color-scheme:dark) {
    .barcode-scanning-modal{
        visibility: hidden;
        --background: transparent;
        --ion-background-color: transparent;
     }
}